body {
    font-family: 'Poppins', sans-serif;
}

.badge {
    font-weight: 500;
}

// Fine Circle Responsive Image
// Inspired by https://stackoverflow.com/a/6615994/10194811
#container {
    display: inline-block;
    position: relative;
    width: 100%;
}

#seperate {
    padding: 50px 0px;
}

#dummy {
    padding-top: 100%; /* 1:1 aspect ratio */
}

#element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.circle-image {
    width: 35%;
    height: 35%;
    border-radius: 7% 20% 20% 7%;
    object-fit: cover;
    object-position: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .circle-image {
        width: 50%;
        height: 50%;
        border-radius: 3%;
        object-fit: cover;
        object-position: center;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .circle-image {
        width: 30%;
        height: 30%;
        border-radius: 3%;
        object-fit: cover;
        object-position: center;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .circle-image {
        width: 27.5%;
        height: 27.5%;
        border-radius: 3%;
        object-fit: cover;
        object-position: center;
    }
}

// Footer
.social {
    text-decoration: none !important;
    padding: 10px;
}